{{ define "main" }}
<p>
    <a href="{{ .Site.BaseURL }}"><< Back</a>
</p>
<div class="note-content">
    <h1>{{ .Date.Format "2006-01-02" }} - {{ .Params.Title }}</h1>
    {{ $tags := slice }}
    {{ range .GetTerms "tags" }}
    {{ $tags = $tags | append (lower .LinkTitle | printf "<%s>") }}
    {{ end }}
    <h4>{{ delimit $tags "" }}</h4>
    {{ if .Draft }}
    <h4 style="color:darkred">DRAFT</h4>
    {{ end }}

    <hr>
    {{ .Content }}
</div>
<p>
    <a href="{{ .Site.BaseURL }}"><< Back</a>
</p>
{{ end }}
