{{ define "main" }}
<div class="search-bar">
    <input id="search-input" type="text" placeholder="filter by tag..." autocomplete="off" spellcheck="false"/>
</div>

<section id="search-results">
    {{ range $term, $taxonomy := .Site.Taxonomies.tags }}
    <div class="tag-group" data-tag="{{ $term }}">
        <p>{{ $term }}</p>
        <ul>
            {{ range $taxonomy.Pages.ByDate.Reverse }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <p id="no-results" style="display:none">No results</p>
</section>
{{ $js := resources.Get "js/search.js" | resources.Minify }}
<script src="{{ $js.Permalink }}" defer></script>
{{ end }}
